@import '../../../styles/settings.scss';

.booking-component {
  padding: $base-size;
}

.MuiFormControl-root {
  min-width: 260px !important;
  margin: 30px !important;
}

.MuiFormGroup-root {
  margin: 30px !important;
  display: block !important;
}
