@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  & p:nth-child(odd) {
    background-color: $color-additional;
  }
}

.row {
  height: 20px;
  padding: 20px 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table_head {
  text-align: center;
  border-bottom: 1px solid $color-dark;
  margin-bottom: 0;
  padding-bottom: 5px;
}
