@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}

.cards {
  &_container {
    display: flex;
    justify-content: space-between;
  }
  &_card {
    margin: 0 5px;
    min-width: 280px;
  }
}

.table_title {
  font-weight: $font-bold;
  text-align: center;
  font-size: $base-size + 10;
}

.button_add {
  margin: 0 auto 8px;
}

.ready::after {
  content: "";
  width: 100px;
  height: 3px;
  position: absolute;
  background: linear-gradient(to right, $color-dark, $color-light);
}
